<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Servidores e Remunerações</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>
<body>
    <div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
             <li><a href="/media">Média</a></li>
            <li><a href="/remuneracao">Remuneração</a></li>
            <li><a href="/deducoes">Total Deduções</a></li>
            <li><a href="/acima">Salários acima da média</a></li>
          </ul>
        </nav>  
      </div>

  <h1>Salários acima da média</h1>

  <table id="dataTable" class="display">
    <thead>
      <tr>
        <th>CPF</th>
        <th>Nome do Servidor</th>
        <th>Cargo</th>
        <th>Universidade</th>
        <th>Instituto</th>
        <th>Salario</th>
      </tr>
    </thead>
    <tbody>
      <% for (const servidor of results) { %>
        <tr>
          <td><%= servidor.cpf %></td>
          <td><%= servidor.NomeServidor %></td>
          <td><%= servidor.cargo %></td>
          <td><%= servidor.NomeUniversidade %></td>
          <td><%= servidor.NomeInstituto %></td>
          <td data-order="<%= servidor.Salario %>"><%= servidor.Salario %></td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <script>
    // Inicialize o DataTable
    $(document).ready(function() {
      $('#dataTable').DataTable();
    });
  </script>
</body>
</html>
